# Auto detect text files and perform LF normalization
* text=auto

# Standard patterns
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.sh text eol=lf

# Deny binary file normalization
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.pwf binary
